.root {
    background-size: 100% 100%;

    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    &:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    transition: box-shadow 0.2s ease-in-out;

    position: relative;
}

.myImg {
    height: 1.2em;
    padding: 0;
}

.centerDiv {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 0.5em;
}

.name {
    font-weight: bold;
}

.handle {
    font-family: monospace;
    font-size: 0.8em;
}

$bounceEase: cubic-bezier(0.2, 0.8, 0.2, 1);

.newBadge {
    position: absolute;
    top: -1em;
    left: -1em;

    rotate: -15deg;

    animation: pulse 0.5s alternate infinite $bounceEase;

    &:hover {
        animation: rapidVibrate 0.01s alternate infinite;
    }

    background-color: #ff0000;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes rapidVibrate {
    from {
        transform: translate(0, 0) scale(1.2);
    }
    to {
        transform: translate(0.2em, 0.2em) scale(1.2);
    }
}
